body{
background-color:white;
display: flex;
gap:10px;
justify-content: center;
align-items: center;
flex-wrap: wrap;
} 

.parent{
    position: relative;
    background-color:thistle;
    width:400px;
    height:100%;
  
}

.pic{
    background-image: url("card3.jpg");
background-repeat: no-repeat;
background-size: cover;

    
    width:100%;
    height:30%;
    
}

.content{
position: relative;
height:70%;
background-image: url("card2.jpg");
background-repeat: no-repeat;
background-size: cover;

}

.title{
    font-family:inherit;
    position:absolute;
    font-style:inherit;
    font-size: 30px;
    padding-top: 25px;
    padding-left: 53px;
    padding-right: 20px;
    height:20%;
    font-weight: bold;
}

.para{
    position: absolute;
    
    
    top:100px;
    padding:10px;
    font-style:inherit;
    font-size: 22px;
    font-weight:normal;
}

.btn button{
    position: absolute;
    padding:3px 40px;
    width:200px;

   font-style: italic;
   font-size: 15px;
    background-color:violet;
    font-weight:bold;
    color:black;

    
    border-radius: 20px;
    box-shadow: lightsalmon;
    background-image: url("card2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.btn{
    position:absolute;
    left:22%;
    top:370px;
    width:70px;
    height:20px;
}

button:hover{
    
    background-image: url("card4.jpg");
background-repeat: no-repeat;
background-size: cover;

}

button:focus{
    
    background-image: url("card2.jpg");
background-repeat: no-repeat;
background-size: cover;

}

