body{
    background-color: aqua;
    color:blueviolet;

}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;

}

h2{
    font-size: 100px;
}

h3{
    font-size: 70px;
}
/*input{
    width: 100%;
    /*we can use more than 100% */
} */
/*p{
    font-weight: bolder;
} */
button{
    background-color: coral;
    border: 7px dotted black;
    color:white;

}
/*1. border radius
2. box shadow */

#orange{
    color:orange;
}

input[type ="text"]{
    width:70%;
}

.name input[type ="text"]{
    width:30%;
}

.content{
    background-color: black;
    color: chartreuse;
    padding: 70px;
    margin:50px;
}

.box{
    border:1px solid black;
    size:70%;
    margin:100px;
}



